%section.register.container
  %header
    %h1 Register
  %form.form-horizontal{role: "form"}
  .form-group
    %label.col-sm-2.control-label{for: "email"} Email
    .col-sm-10
      %input#inputEmail3.form-control{placeholder: "Enter your email address here...", type: "email"}/
  .form-group
    %label.col-sm-2.control-label{for: "password"} Password
    .col-sm-10
      %input#inputPassword3.form-control{placeholder: "Choose your password...", type: "password"}/
  .form-group
    .col-sm-offset-2.col-sm-10
      %button.btn.btn-primary{type: "submit"} Complete Registration