%section.register.container
#toppad
#bg
  .container-fluid
    .row-fluid
    %h1 Register
    %br
    .well
      %form.form-horizontal{role: "form"}
      .form-group
        %label.col-md-2.control-label{for: "full_name"} Full Name
        .col-sm-8
          %input#inputEmail3.form-control{placeholder: "Enter your full name here...", type: "full_name"}/
        %br
        %br

      %form.form-horizontal{role: "form"}
      .form-group
        %label.col-md-2.control-label{for: "email"} Email
        .col-sm-8
          %input#inputEmail3.form-control{placeholder: "Enter your email address here...", type: "email"}/
        %br
        %br
        
      %form.form-horizontal{role: "form"}
      .form-group
        %label.col-md-2.control-label{for: "user_name"} User Name
        .col-sm-8
          %input#inputEmail3.form-control{placeholder: "Enter your screen name here...", type: "user_name"}/
        %br
        %br

      %form.form-horizontal{role: "form"}
      .form-group
        %label.col-sm-2.control-label{for: "password"} Password
        .col-sm-8
          %input#inputPassword3.form-control{placeholder: "Choose your password...", type: "password"}/
      %br
      %br
        .row-fluid
        .form-group
          .col-sm-offset-2.col-sm-10
            %button.btn.btn-primary{type: "submit"} Complete Free Registration
#bottompad