%nav.navbar.navbar-fixed-top.navbar-inverse{role: "navigation"}
  .container-fluid
    .navbar-header
    #top
      = link_to "ShareSomething", home_path, class: 'brand'
      %ul.nav.navbar-nav
        %li.divider-vertical.clearfix
        %li.col-sm-1
          = link_to "Words", words_path
        %li.col-sm-1
          = link_to "Pics", pics_path
        %li.col-sm-1
          = link_to "Vids", vids_path
        %li.col-sm-7
          %form.navbar-form.for-search(action="")
            .form-group
              %input.search-query(type="text" placeholder="Search this site...")
              %span.form-group-addon.btn.btn-info(type="button")
                %span.glyphicon.glyphicon-search Search
      %ul.nav.navbar-nav.pull-right
        %li.dropdown
          %a(href="#" id="dlabel" role="button" data-toggle="dropdown" class="dropdown-toggle" data-target="#")
            Welcome, guest
            %b.caret
          %ul.dropdown-menu.dropdown-menu-right(role="menu" aria-labelledby="dlabel")
            %li
              %a(href="#") Account
              %a(href="#") Settings
              %a.divider
              %a(href="#") Sign Out
#toppad