.article.about
#bg
  .container-fluid
    %br
    %br
    .hero-unit.span10.offset1
      %h1.text-center ShareSomething
      %br
      %h3 ShareSomehting is designed to be a new way to see and share news. Most news sites cosist of other people picking and choosing what stories theuy believe are relevant. Here, you can determine which news is most important to you and your friends and family.
      %br

#footer