.article.about
#bg
  .container-fluid
    %br
    %br
    .hero-unit.span10.offset1
      %h1.text-center ShareSomething
      %br
      %h3 ShareSomething is designed to be a new way to see and share news. 
      %br
      Once upon a time, dad worked from 9 to 5 while mom stayed home with the kids. Dinner was ready when dad stepped through the door, and afterwards everyone sat down and watched the 6 o'clock news.
      %p
      %br
      %h4.text-center But a lot has changed since then.
      %p
      %br
      Today, we live in a 24/7 world. TV and cbale news has too much time and not enough information that you really need to know. So you get stories about shootings on the bad side of town, cute puppies, and today's miracle cure for cancer. Tune in tomorrow when that miracle cure is too good to be true and will give you cancer instead.
      %p
      %br
      %h4.text-center In the words of Sweet brown, "Ain't nobody got time for that!"
      %p
      %br
      Now, there is ShareSomething. Instead of some random person picking the news they think is important, you can hear about the news from the people you trust most. Your family and friends. Straight from the source. See it, share it, add your thoughts if you like. Quick and easy.
      %p
      %br
      This is only the beginning. There is lots more on the way in the coming months. For now, please enjoy it and let us know if there is anything we can do to improve your experience.
      %p

#footer