%article.welcome-page
#welcomebg
  .container-fluid
    %br
    %br
    .jumbotron.span10.offset1
      %h1.text-center Coming soon!
      %br
      %h3.text-center A new way to see and share news.
      %br
      .form-group
      .text-center
        = link_to "Register for FREE Today", register_path, :class => "btn btn-success"
  .body 
    %br      
    %h4.text-center This website is still under development. Please feel free to check out any of the sections above.
    %br
    %br
    %br