%article.vid_posts
#bg

  - unless logged_in?
    .container-fluid
      %br
      %br
      .hero-unit.span10.offset1
        %h2 Hello and Welcome!
        %p
        Thank you for checking us out. Please feel free to enjoy the posts. In order to comment or vote on posts, you must register.
        %p
        .text-center
          %br
          = link_to "Click here to join", register_path,  class: 'btn btn-primary btn-large'

  .container-fluid
    .row-fluid
    %h3 Vid Posts
  %ul
    - @posts.each do |post|
      .container-fluid
        .row-fluid
          .span2
            .well
              .text-center
                %h4
                .btn-toolbar
                  .btn-group
                    %h5
                      %i.icon-circle-arrow-up
                      votes
                      %i.icon-circle-arrow-down
          .span9
            .well
              %h4
                = link_to post.title, post_path(post)
              %small
                posted by #{post.creator.user_name} on #{display_datetime(post.created_at)}
#bottompad